@charset "UTF-8";

/* デフォルトスタイル */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 1em;
  -webkit-text-size-adjust: none;
  font-feature-settings: "palt" 1;
  outline: 0;
}

body,
table,
input,
textarea,
select,
option {
  color: #707070;
  font-family: "sans-serif", "ArialMT", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic" ;
  font-size: 1em;
  font-weight:600;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
}

:focus {
  outline: 0;
}
select:-webkit-autofill, input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

*, html{box-sizing: border-box;}


/* 共通レイアウト */
body {
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  color: #707070;
  line-height: 1.5;
  text-align: center;
  position: relative;
}

.contents {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow:hidden;
}

#dialog_content {
  position: relative;
  clear: both;
  margin-bottom: 0;
  padding: 0px 10px;
}

/* 固定で使用 */
.list_nav li a::after {
  margin-right: 3px;
  font-family: nasu-icon;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  vertical-align: -1px;
  speak: none;
}

/* ■共通Web Fonts */

html {
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#33000000,EndColorStr=#33000000); /*IE8以下用*/
}

#dialog_header {
  background: #fff;
  text-align: left;
}

#dialog_header h1 img {
  width:100%;
}

#dialog_header p {
  padding: 3px 0;
  background: #606060;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
}

.labelHeading {
  max-width: 300px;
  margin: 14px auto 1px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.itemTitle {
  position: relative;
  max-width: 300px;
  margin: 0 auto 5px;
  box-sizing: border-box;
  color: #707070;
  text-align: left;
}
.itemTitle small {
  display: block;
  padding-left: 18px;
  font-size: 12px;
}

.itemTitle.icon {
  padding-left: 24px;
}

.itemTitle::before {
  content: "■";
  color: #93d6db;
}

.itemTitle.icon::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.itemTitle.name::before {
  background: url(../img/ico_title-name.png) center no-repeat;
  background-size: contain;
}

.itemTitle.birth::before {
  background: url(../img/ico_title-birth.png) center no-repeat;
  background-size: contain;
}

.itemTitle.sp::before {
  background: url(../img/ico_title-sp.png) center no-repeat;
  background-size: contain;
}

.itemTitle.retirement::before {
  background: url(../img/ico_title-retirement.png) center no-repeat;
  background-size: contain;
}

.itemTitle.icon.birth{
  margin-top:30px
}

span.optional {
  margin: 0 5px;
  padding: 4px 8px;
  box-sizing: border-box;
  background: #ddd;
  color: #333;
  font-size: 0.75rem;
}
#footer {
  width: 100%;
  margin-top:0;
  padding: 5px 0;
  background: #1d1d1d;
  text-align: center;
}

#footer .innerfooter {
  margin: 0 auto;
}

#footer small {
  color: #fff;
  font-size: 0.6rem;
}

#footer .footLink {
  margin: 0 auto 5px;
}

#footer .footLink li {
  display: inline-block;
}

.footLink a {
  display: inline-block;
  margin: 0 8px;
  color: #fefefe;
  font-size: 11px;
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  -webkit-appearance: none;
}

.bx-viewport {
  height: auto!important;
}

.bxslider li {
  display: none;
}

.bx-viewport .bxslider li {
  display: block!important;
}

.bx-controls.bx-has-pager.bx-has-controls-direction {
  position: relative;
  margin: 0 -40px;
  padding: 15px 0 15px;
  background: #ccc;
}

a.bx-prev {
  color: #707070;
  font-size: 12px;
  width: 15%;
  padding-right: 2%;
  display:flex;
  align-items: center;
  justify-content:center;
}

a.bx-prev:before {
  content: "＜ ";
}

.bx-prev img {
  width: 60px;
  height: auto;
}

.bx-prev:hover {
  opacity: 1;
}

.bx-nextArea {
  display: inline-block;
}

.checked input + label img {
  filter: invert(100%);
}

.formItem {
  position: relative;
  max-width: 300px;
  min-height: 2.5em;
  margin: 0 auto;
}

.colWrap {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.colWrap li {
  box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.5);
  width: 47%;
  height: 120px;
  margin: 1.5%;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
}

.colWrap li label, #slide_student_btn{
  width: 100%;
  height: 100%;
  padding: 3px;
  border: 2px solid #555;
  border-radius: 4px;
  background: #fff;
  text-align: center;
  cursor: pointer;
  display:flex;
  flex-direction:column;
  justify-content: center;
  line-height:1.2;
}

.colWrap li label img {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  filter: invert(50%);
  object-fit: contain;
}

.colWrap li:last-child, #slide_student_btn {
  width: 100%;
  height: 68px;
}

.colWrap li:last-child label{
  flex-direction:row;
  align-items: center;
}

.colWrap li input:checked + label {
  border: 2px solid #ff348e;
  background: #ff348e !important;
  color: #fff;
}

.colWrap li input:checked + label img {
  filter: invert(100%);
}

.colWrap li label.btn_off, #slide_student_btn.btn_off {
  background-color: #eee;
  border: none;
}

.formItemStudent li:nth-last-child(1) label img,
#req_date_area .colWrap li:nth-last-child(1) label img,
#req_emp_types_area .colWrap li:nth-last-child(1) label img {
  width: 60px;
  margin: 0;
}

.formItemStudent {
  display: flex;
  width: 100%;
  line-height: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

#slide_student_btn img {
  margin: 0 auto 3px;
  filter: invert(50%);
}

.error_message {
  width: auto;
  padding: 2px;
  color: #ff0000;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: underline;
}

p.required,
h2 span {
  display: inline-block;
  margin-right: 5px;
  padding: 4px 10px;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: border-box;
  background: #ff6699;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1;
  vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="number"] {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0.2em 0.5em;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 1rem;
  line-height: 2.2em;
  vertical-align: middle;
  appearance: none;
}

select {
  background: rgba(255, 255, 255, 0.8) url(../img/ico_arrow.png) no-repeat 97% center;
  background-size: 10px;
}
#addr1, #addr2, #addr3, #mob_mail {
  border-bottom:1px solid #ccc;
}

#birth_year {
  width: 60%;
  margin: 0 10px;
}

input[type="text"].err,
select.err {
  border-color: #e60000;
}

input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 1rem;
}

input:-ms-input-placeholder {
  color: #ccc;
  font-size: 1rem;
}

input::-moz-placeholder {
  color: #ccc;
  font-size: 1rem;
}

input#zip,
input#mob_phone,
input#name_kan,
.selectWrap.birth,
select#retirement_intention,
.branch-B-ON input#mob_mail_inp {
  border: 1px solid #ff348e;
  border-radius: 6px;
  position: relative;
}

input#zip,
input#name_kan,
.selectWrap.birth,
#birth_year,
input#mob_phone {
  font-size: 20px;
  background: #ffffc7;
}

.bx-controls-direction {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn-area{
  width:100%;
}

a.bx-next { position: relative;padding:20px 10px;display:block;text-decoration: none;  z-index: 2;}
a.bx-next span {
  z-index: 2;
  position: relative;
  width: 100%;
  display:block;
  margin:0 auto;
  padding: 8px 0 10px;
  background: #109fb5;
  background: -moz-linear-gradient(top,  #109fb5 0%, #0d7e91 99%);
  background: -webkit-linear-gradient(top,  #109fb5 0%,#0d7e91 99%);
  background: linear-gradient(to bottom,  #109fb5 0%,#0d7e91 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#109fb5', endColorstr='#0d7e91',GradientType=0 );
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .08em;
  font-size: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, rgba(255, 255, 255, 0.7) 0px 0px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, rgba(255, 255, 255, 0.7) 0px 0px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, rgba(255, 255, 255, 0.7) 0px 0px 1px inset;
  overflow:hidden;
}
a.bx-next.off span:before{display:none;}

a.bx-next span::after {
  content: "";
  position: absolute;
  right: 34px;
  top: 50%;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: url(../img/ico_arrow2.png) no-repeat right center;
  background-size: contain;
}

a.bx-next::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}
a.bx-next span:before{
  display: block;
  position: absolute;
  z-index: -1;
  left: -30%;
  top: -50%;
  content: "";
  width: 50px;
  height: 100px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  background-image: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
  animation: shiny 3s infinite linear;
  -webkit-animation: shiny 3s infinite linear;
  -moz-animation: shiny 3s infinite linear;
}
@keyframes shiny {
    0% {
        left: -30%;
    }
    20% {
        left: 120%;
    }
    100% {
        left: 120%;
    }
}
@-webkit-keyframes shiny {
    0% {
        left: -30%;
    }
    20% {
        left: 120%;
    }
    100% {
        left: 120%;
    }
}
@-moz-keyframes shiny {
    0% {
        left: -30%;
    }
    20% {
        left: 120%;
    }
    100% {
        left: 120%;
    }
}

.bx-controls-direction .btn-area a.off span {
  background: rgba(200,200,200,.5);
  border: 1px solid rgba(200,200,200,.5);
  box-shadow: none;
}
.step1 a.bx-next span {
  width: 80%;
}

.index1 .bx-prev {
  opacity: 0.7;
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 0;
}

a.bx-next span.lastBtn {
  display: table-cell;
  position: relative;
  z-index: 5;
  width: 314px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #eb8003;
  border-radius: 8px;
  box-sizing: border-box;
  background: #f0b706;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffaa06),
    color-stop(0.5, #ffaa06),
    color-stop(0.5, #f79e04),
    to(#f79e04)
  );
  background: -moz-linear-gradient(to top, #f79e04 0%, #f79e04 50%, #ffaa06 50%, #ffaa06);
  background: linear-gradient(to top, #f79e04 0%, #f79e04 50%, #ffaa06 50%, #ffaa06);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1.3;
  vertical-align: middle;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

a.bx-next span.lastBtn::after{
  background: none;
}

.lastBtn:hover {
  border: 1px solid #f79e04;
  background: #f79e04;
}

.lastBtn small {
  font-size: 13px;
}

.thanksBtn {
  display: inline-block;
  position: relative;
  width: 314px;
  height: 55px;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  box-sizing: border-box;
  background: #2dbe85;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.thanksBtn:hover {
  background: #1cad74;
}

a.bx-next.newBtn03{
  position: relative;
  display:block;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding:0;
  border:0;
  background:transparent;
  box-shadow:none !important;
  overflow: hidden;
}

.bx-controls-direction .btn-area a.off span {
  background:rgba(200,200,200,.5);
  border:1px solid rgba(200,200,200,.5);
  box-shadow:none;
}

a.bx-next.newBtn03.off{opacity:.5;background: none; border: none;}
a.bx-next.newBtn03 img.btn2,a.bx-next.newBtn03.off img.btn1{display:none;width:100%;}
a.bx-next.newBtn03 img.btn1,a.bx-next.newBtn03.off img.btn2{display:block;width:100%;}

.message {
  padding: 20px 0 0 0;
  color: gray;
  font-size: 22px;
  font-weight: bold;
}

.addTxt.message {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.addTxt.message img {
  width: 18%;
  float: left;
  margin-top: 3%;
}

.addTxt.message p {
  display: inline-block;
  position: relative;
  max-width: 100%;
  margin: 1.5em 0 0 10px;
  padding: 7px 10px;
  border-radius: 6px;
  background: #e2f4f5;
  color: #555;
  text-align: left;
}

.addTxt.message p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -18px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #e2f4f5;
}

.key{
  text-align:center;
  margin-bottom:5px;
}
.key::before {
  content: "\f023";
  margin-right: 5px;
  font-family: "FontAwesome";
  font-weight: bold;
}

.key small {
  display: inline-block;
  position: relative;
  width: auto;
  font-size: 10px !important;
  color: #555;
  white-space: nowrap;
}

p.addTxt {
  margin: 1em auto;
  padding: 0.3em;
  background: rgba(255, 255, 255, 0.5);
  color: #2bb2ff;
  font-size: 2.8vw;
  text-align: center;
}

div[id^="Step"] {
  margin-top: 5px;
}

/*-------------------------*/
/* step1                  */
/*-------------------------*/
#license_area {
  display: none;
}

.step1 #license_area {
  display: block;
}

#license_area li:last-child img {
  display: initial;
  width: 60px;
  margin-right: 10px;
}

#graduation_year_area {
  display: block;
  width: 100%;
  margin: 10px auto;
}

#graduation_year{
  width:300px;
  border:2px solid #555;
  box-shadow:2px 2px 6px -2px rgba(0, 0, 0, 0.5);
  border-radius:4px;
}

.step1 .bx-bx-controls-direction {
  display: inherit;
  text-align: center;
}

.step1 .btn-area {
  width: 100%;
}

/*-------------------------*/
/* step2                  */
/*-------------------------*/

#req_date_area {
  margin-bottom: 30px;
}

#req_emp_types_area {
  margin-bottom: 30px;
}

/*-------------------------*/
/* step3                  */
/*-------------------------*/

input#zip {
  display: inline-block;
  position: relative;
  padding: 4px 0.5em;
  padding-right: 0;
  padding-left: 40px;
  border: 1px solid #ff348e;
  border-radius: 6px;
  background: #ffffc7 url(../img/ico_title-zip.png) center left 4px no-repeat;
  background-size: 30px;
  font-size: 20px;
  letter-spacing: 0.1em;
}
input#zip.on,
input#name_kan.on,
.selectWrap.birth.on,
select#retirement_intention.on,
input#mob_phone.on,
input#mob_mail.on,
.branch-B-ON input#mob_mail_inp.on {
  border: 1px solid #ccc;background-color: #fff;
}
select#addr1.on{
  background:#fff!important;
}

#zip2 {
  display: block;
  margin: 6px auto 0;
  font-size: 14px;
}

#zip3 small {
  background: #f8f8f8 url(../img/arrow02.png) no-repeat 98% center;
  background-size: 14px;
  border-radius: 100px;
  padding: 0.3em 30px 0.4em 0.6em;
  color: #555;
  font-size: 12px;
  font-weight: 700;
}

#zip3.on small {
  background: #fff url(../img/arrow02_on.png) no-repeat 98% center;
  background-size: 14px;
}

.acoArea {
  display: none;
}

#zip2.on > .acoArea {
  display: block;
}

.acoArea h2 {
  margin-top: 10px;
}

.formItem_step3 {
  margin: 14px auto 0;
  border-bottom: 1px solid #ccc;
}

.acoArea .input {
  margin-top: 0;
}

.acoArea input[type="text"] {
  width: 100%;
  margin: 0 auto;
}

/*-------------------------*/
/* step4                  */
/*-------------------------*/
.step4 .bx-viewport {
    height: 370px !important;
}

input#name_cana {
  padding-left: 14px;
  border-bottom: 1px solid #ccc;
  color: #707070;
  margin-top: 10px;
}
#Step4 .name_cana-frame {
  display: none;
  width: 100%;
}

input#input_birth_year {
  width: 11em;
  background: none;
  height:55px;
}

/*-------------------------*/
/* step5                  */
/*-------------------------*/
#retirement_intention_area {
  list-style: none;
  margin: 14px auto;
  padding: 1px 0 0;
  overflow: hidden;
  text-align: center;
}

#Step5 input#mob_mail:focus {
  border: 1px solid #2bb2ff;
}

#Step5 input[type="radio"]:checked + .radio2 {
  top: 0;
  border-color: #ccc;
  background: #ff348e;
  color: #fff;
  -webkit-animation: btnCheck 0.3s ease-in-out;
  animation: btnCheck 0.3s ease-in-out;
}

#Step5 .email {
  margin-bottom:30px;
}

.retirementIntention label {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 4px;
  padding: 0.7em 0 0.7em 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  background: #fff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.window_close,
.close {
  margin: 10px 0;
  border-radius: 4px;
  background: #999;
  font-size: 1.2rem;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}

.scroll_box {
  height: 90%;
  padding: 2px;
  overflow-y: auto;
}

.scroll_box::-webkit-scrollbar {
  display: none;
}

.arrow_step5 {
  display: none;
  width: 60px;
  height: 45px;
  position: absolute;
  left: 50%;
  bottom: 220px;
  margin-left: -35px;
  background: url(../img/img_arrow.png) no-repeat;
  background-size: 100% auto;
  z-index: 99;
  opacity: 0.8;
  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -moz-animation: blink 1.5s ease-in-out infinite alternate;
  animation: blink 1.5s ease-in-out infinite alternate;
  transition: bottom 0.3s;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


/* ---------- hand ---------- */
.hands, .hands_modal {
  opacity: 0.8;
  position: absolute;
  right: 2%;
  bottom: 14%;
  z-index: 99;
  width: 64px;
  height: 64px;
  background: url(../img/hand_off.png) no-repeat;
  background-size: 75% auto;
  pointer-events: none;
  -webkit-animation: hands 2.5s linear 0s infinite;
  animation: hands 2.5s linear 0s infinite;
  transition: bottom 0.3s;
}

@-webkit-keyframes hands {
  0% {
    -webkit-transform: translate(0, 0) ;
  }
  50% {
    background: url(../img/hand_off.png) no-repeat;
    background-size: 75% auto;
  }
  75% {
    -webkit-transform: translate(0, 0) ;
  }
  100% {
    background: url(../img/hand_off.png) no-repeat;
    background-size: 75% auto;
  }
}

@keyframes hands {
  0% {
    transform: translate(0, 0) ;
  }
  50% {
    transform: translate(-15px, 0) ;
    background: url(../img/hand_off.png) no-repeat;
    background-size: 75% auto;
  }
  75% {
    transform: translate(0, 0) ;
  }
  100% {
    background: url(../img/hand_off.png) no-repeat;
    background-size: 75% auto;
  }
}

.step1 .hands{
  display: none;
}

/*-------------------------*/
/* modal                  */
/*-------------------------*/
.modal {
  display: none;
  text-align: left;
}

.modalBody {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999999;
  width: 90vw;
  height: 460px;
  margin: auto;
  padding: 13px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.6;
}

.modalBody h2 {
  margin: 0 0 1em;
  border-bottom: 1px solid #2bb2ff;
  color: #2bb2ff;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.modalBody h3 {
  font-size: 16px;
  font-weight: bold;
}

.modalBody dl {
  margin-bottom: 1em;
}

.modalBody dt {
  font-weight: bold;
}

.modalBK {
  -moz-opacity: 0.5;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=50);
}

.modalBody.intro {
  height: 540px;
  padding: 0;
  border-radius:20px;
}

@media only screen and (max-device-width: 320px) {
  .modalBody.intro {
    height: 340px;
  }
}

#branch {
  text-align: center;
  padding:15px;
  color: #333;
  background: url(../img/form2003_top.jpg) no-repeat center bottom 40px / auto 180px;
  padding-bottom: 220px;
}

a.branch_btn-A,
a.branch_btn-B {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  padding: 14px 0.5em 12px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #555;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.5);
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

a.branch_btn-A,
a.branch_btn-B {
  max-width: 280px;
  height: 76px;
  margin-top: 20px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
}

a.branch_btn-A::after,
a.branch_btn-B::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 14px;
  height: 14px;
  background: url(../img/ico_arrow3.png) center no-repeat;
  background-size: contain;
}

#branch h1 {
  font-size: 16px;
  margin: 20px 0 20px;
}

#branch h1 span {
    display: inline-block;
}

#branch h1 .underline {
    padding-bottom: 5px;
	position:relative;
	margin-bottom: 5px;
}

#branch h1 .underline:before {
    content: '';
	width: 100%;
	height: 2px;
	background: #F8B62C;
	position: absolute;
	bottom: 0;
	left: 0;
}

#branch .ex {
	font-size: 11px;
    color: #666;
    position: absolute;
    display: block;
    bottom: 20px;
    left: 0;
    right: 0;
}

@media only screen and (max-device-width: 320px) {
  #branch h1{
    font-size: 18px;
  }
}

@media screen and (max-width:340px) {
    /*iPhone5用*/
    .modalBody.intro {
        height: 500px;
    }

    #branch{
        background-size: auto 150px;
        background-position: center bottom 80px;
    }

    #branch h1 {
	    font-size: 14px;
	}

    a.branch_btn-A, a.branch_btn-B {
        height: 72px;
    }

    #branch .ex {
        padding: 0 15px;
    }
}

.step1-2,
.step1 #Step5,
.step2 #Step5,
.step3 #Step5,
.step4 #Step5 {
  display: none;
}

/* terms
 ----------------------------------------------------- */
.terms-link {
  display: block;
  padding: 1em 0;
  font-size: 12px;
  text-align:center;
}

.terms-link a,
.terms-link a:visited {
  color: #555;
}

.terms-item {
  padding: 0 1em;
  border-right: 1px solid #ccc;
}

.terms-item:first-child {
  padding-left: 0;
}

.terms-item:last-child {
  padding-right: 0;
  border-right: none;
}

.index1 .terms-link {
  display: none;
}
/* ---------- footer ---------- */
footer{
  margin:0 auto;
}

.lastupdate {
  padding: 5px 15px;
  background-color: #fefff2;
  color: #0d7e91;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: right;
}


/* ---------- Pmark ---------- */
.pMark { overflow: hidden; width: 100%;padding: 8px;box-sizing: border-box;background-color: #f5f5f5;border-bottom:1px solid #fff;font-size: 10px;text-align:left;}
.pMark2 {
  position:absolute;
  width:300px;
  left:50%;
  margin-left:-150px;
  bottom:-22%;
  overflow: hidden;
  padding: 4px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,.8);
}
.pMark img ,.pMark2 img{ float: left;margin-right: 10px;width:34px;}

.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -moz-opacity: 0.30;
}

.formLabel,.formLabel2,.formLabel3,.formLabel4{
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 14px;
  color: #999;
  -webkit-transition: font 0.1s ease, top 0.1s ease;
  transition: font 0.1s ease, top 0.1s ease;
  font-weight:bold;
}
.formLabel2{left:44px;}
.formLabel3{left:96px;}

.placeOn + .formLabel,.placeOn + .formLabel2,.placeOn + .formLabel3, .placeOn + .formLabel4{
  position: absolute;
  top: 2px;
  left: 12px;
  font-size: 10px;
  color: #ff348e;
}
.status{
  width: 290px;
  margin: 5px auto 20px;
  text-align: center;
}
.status img{
  width:100%;
}

/*転居可否*/
#moving_flg_area{margin-top:40px;}
#moving_flg_area .col{height:50px;border:1px solid #ccc;}
#moving_flg_area .colWrap li:last-child{width:47%;}
#moving_flg_area .colWrap li label{border:none;}

#req_emp_types_area .colWrap li {
  width: 47%;
  height: 120px;
}

#req_emp_types_area .colWrap li:last-child label {
  flex-direction: column;
}

/*-------------------------*/
/* 利用規約                 */
/*-------------------------*/
#form_rule p {
  margin:10px 8px;
  text-align: center;
  font-size: 12px;
}
#form_rule a {
  color: #555 !important;
}